*{
    margin: 0;
    padding: 0;
}
#sketch-grid{
    width: 500px;
    height: 500px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}
.gridbox{
    border: 1px solid black;
    flex-grow: 1;
}
.row{
    display: flex;
    flex-grow: 1;
}